<h2>Shortener</h2>
</div>
<div id="container" ng-controller="ShortenController">

  <img ng-if="loading" src="/assets/spiffygif_46x46.gif">

      <form class="navbar-form navbar-left" name="shortenform" ng-submit="shortenform.$valid && addLink()" novalidate>
      <div class="form-group">
        <input class="form-control" name="shorten" type="url" ng-model="link.url" >
      </div>
          <button class="btn btn-default" type="submit">Submit</button>
        <p ng-if="!shortenform.$valid">Please submit a valid url starting with "http://"</p>
      </form>
      <br><br><br>
  <a class="btn btn-default" href="http://localhost:8000/#/links">Go to my links</a>

</div>


