<h2>Sign-up</h2>
</div>
<div id='signup'>
  <form name="signupForm" ng-submit='signupForm.$valid && signup()' novalidate>
    <div class="input-group">

      <span class="input-group-addon">Username</span>
      <input class="form-control" type='text' ng-model='user.username' required>

    </div>
    <div class="input-group">

      <span class="input-group-addon">Password</span>
      <input class="form-control" type="password" ng-model='user.password' required>
</div>
<button class="btn btn-default" type="submit">Submit</button>
<!--       <input type="submit"/>
-->  </form>
<a class="btn btn-default" href="#/signin">Already have an account? Signin ...</a>

</div>
